@import "variables";

@import "primeicons/primeicons.css";

@import "primeng-sass-theme/themes/lara/lara-light/blue/theme.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Глобально на всю страницу */
html, body, #root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: $fontColor; /* если используешь переменные */
  background-size: cover;
}

.fullscreen-task {
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-hover {
  transition: transform 0.18s, filter 0.18s;
  cursor: pointer;
}
.logo-hover:hover {
  transform: scale(1.12);
  filter: brightness(0.85);
}


.course-card__image {
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 2px 8px #0001;
  overflow: hidden; // <-- добавь, если вдруг что-то выходит за рамки
}

.lesson-image--70 {
  width: 70% !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}


.root-main {
  display: flex;
  flex: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.min-h-window-full {
  min-height: 100vh;
}

.beautiful-shadow {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
